:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
mat-card-title {
  font-size: 32px;
  margin-bottom: 3rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.btn-reset {
  margin-bottom: 2rem;
}

