.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
  max-width: 90%;
  margin-inline: auto;
}
.product-grid {
  flex: 2;
  min-width: 0;
}

.wallet-panel {
  flex: 1;
  max-width: 500px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}


.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 1rem 0;
}

@media (max-width: 1500px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .wallet-panel {
    max-width: 300px;
  }
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .wallet-panel {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .wallet-panel {
    max-width: 100px;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .wallet-panel {
    max-width: 100px;
  }
}
